/lesson_1/bin
/lesson_1/obj
/lesson_1/lesson_1.sln

/hw_1/bin
/hw_1/obj
/hw_1/hw_1.sln

/Task02/bin
/Task02/obj
/Task02/Task02.sln

/Task04/bin
/Task04/obj
/Task04/Task04.sln

/Task06/bin
/Task06/obj
/Task06/Task06.sln

/Task08/bin
/Task08/obj
/Task08/Task08.sln
