/lesson_1/bin
/lesson_1/obj
/lesson_1/lesson_1.sln

/other

/hw_1/bin
/hw_1/obj
/hw_1/hw_1.sln

/Task02/bin
/Task02/obj
/Task02/Task02.sln

/Task04/bin
/Task04/obj
/Task04/Task04.sln

/Task06/bin
/Task06/obj
/Task06/Task06.sln

/Task08/bin
/Task08/obj
/Task08/Task08.sln

/Task10/bin
/Task10/obj
/Task10/Task10.sln

/Task13/bin
/Task13/obj
/Task13/Task13.sln

/Task15/bin
/Task15/obj
/Task15/Task15.sln

/Task19/bin
/Task19/obj
/Task19/Task19.sln

/Task21/bin
/Task21/obj
/Task21/Task21.sln

/Task23/bin
/Task23/obj
/Task23/Task23.sln

/Task25/bin
/Task25/obj
/Task25/Task25.sln

/Task27/bin
/Task27/obj
/Task27/Task27.sln

/Task29/bin
/Task29/obj
/Task29/Task29.sln